# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

#Server environment
NODE_ENV=development
#Port number
PORT=5000
 
#Mysql Db configuration
DATABASE_URL="mysql://root:@localhost:3306/add"

#JWT secret key
JWT_SECRET=14015bad66357fc8
#Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=1440
#Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
#Number of minutes after which an verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=30
#Number of minutes after which an reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=30
 
#Log config
LOG_FOLDER=logs/
LOG_FILE=%DATE%-app-log.log
LOG_LEVEL=error

#Mail config
SMTP_HOST=""
SMTP_PORT=""
SMTP_USERNAME=""
SMTP_PASSWORD=""
EMAIL_FROM=""

# Cloudinary config
CLOUDINARY_URL=""

# Html to image configuration
HCTI_ENDPOINT_URL="https://hcti.io/v1/image"
HCTI_USER_ID=""
HCTI_API_KEY=""

TIMEZONE=Asia/Tokyo
